<div class="center translucent-box">
    <h1>Administrator Signin</h1>
    <span id="error">{{error}}</span>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email">
        <mat-hint>Email</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
        <mat-hint>Email</mat-hint>
    </mat-form-field>
    <br>
    <button mat-button (click)="onSubmit()">Sign In</button>
</div>