<div class="h-center v-margin translucent-box column">
    <h1>A lightweight, serious English proficiency test you can complete in 10 minutes.</h1>
    <h2>How does it work?</h2>
    <p>For each question, there are two choices. <em>Choose the one that is the better English.</em></p>
    <h2>How long does it take?</h2>
    <p>A typical test is about 8 minutes and 40 questions, but your test may be longer or shorter.</p>
    <h2>What does it measure?</h2>
    <p>A higher score indicates stronger English language skills. Scores range from 20 to 120.</p>
    <h2>Why?</h2>
    <p>Test24 (working name) is designed to be an accurate, organically secure and very quick measure
        of basic English ability for both English learners and native English speakers.</p>
    <h2>Experimental. For research purposes only.</h2>
    <p>Test24 is experimental. Do not use the scores for important purposes. All content is copyright
        <a href="https://www.transparent.com">Transparent Language, Inc</a>. Comments are welcome:
        <a href="mailto:test24@transparent.com">test24@transparent.com</a>.</p>
    <h2>Privacy and terms of use</h2>
    <p>
        All tests are anonymous. We don't collect anything except the test data and optional comments
        you may submit. This site doesn't use cookies. Test data will be used only for internal evaluation
        of the testing method.
    </p>
    <p>
        For privacy information regarding the family of Transparent Language sites and products, visit
        <a href="https://www.transparent.com/about/privacy.html">our privacy policy</a>.
    </p>
    <div id="test">
        <app-test-starter action="Take the test"></app-test-starter>
    </div>
</div>