<h2 mat-dialog-title>Instructions</h2>
<mat-dialog-content>
    <div><span>For each question, there are two choices. <em><strong>Choose the one that is the better English.</strong></em></span>
        <ul>
            <li>When you don't know, guess.</li>
            <li>Going faster <strong>does not</strong> improve your score.</li>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
<button mat-raised-button [mat-dialog-close]="true" color="primary">Okay</button>
</mat-dialog-actions>