#container {
    text-align: center;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

mat-icon {
    margin-right: 4px;
}