<div class="center">
    <div *ngIf="completed else test">
        <app-test-summary [score]="perfect() ? 120 : scoreTotal / scores.length" [testTime]="endTime - startTime"></app-test-summary>
    </div>
    <ng-template #test>
        <div *ngIf="readInstructions else loading">
            <app-proctor
                (completed)="onCompleted($event)">
            </app-proctor>
        </div>
        <ng-template #loading><mat-spinner *ngIf="readInstructions"></mat-spinner></ng-template>
    </ng-template>
</div>